@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --colbalt-blue: hsl(234, 85%, 45%);

  --bg-light-slate-blue: hsl(252, 100%, 67%);
  --bg-light-royal-blue: hsl(241, 81%, 54%);
  --circle-violet-blue: hsla(256, 72%, 46%, 1);
  --cercle-persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
/* utilities */
.lighter {
  color: var(--light-lavender);
}
.bold {
  font-weight: 600;
  color: var(--dark-gray-blue);
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--Pale-blue);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 40px 16px 40px;
  background: linear-gradient(
    to bottom,
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
  color: white;
  border: none;
  border-radius: 0 0 32px 32px;
}
.cercle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 4px;
  background: linear-gradient(
    to bottom,
    var(--circle-violet-blue),
    var(--cercle-persian-blue)
  );
  border-radius: 50%;
}
.cercle .the-big-num {
  margin: 0;
  font-size: 3rem;
  font-weight: 800;
}
.cercle .the-small-text {
  margin: 0;
  opacity: 0.8;
}
header .great {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
}
header .description-score {
  margin: 8px;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
}
main {
  padding: 0 32px 0 32px;
}

main h4 {
  color: var(--dark-gray-blue);
}

main .block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 16px 0 16px;
  border-radius: 8px;
}
.Reaction {
  background-color: hsla(0, 100%, 67%, 6%);
}
.Reaction .title {
  color: var(--light-red);
  font-weight: 600;
}
.Memory {
  background-color: hsla(39, 100%, 56%, 6%);
}
.Memory .title {
  color: var(--orangey-yellow);
}
.Verbal {
  background-color: hsla(166, 100%, 37%, 6%);
}
.Verbal .title {
  color: var(--green-teal);
}
.Visual {
  background-color: hsla(234, 85%, 45%, 6%);
}
.Visual .title {
  color: var(--colbalt-blue);
}
.img-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
main button {
  font-family: "Hanken Grotesk", sans-serif;
  cursor: pointer;
  width: 100%;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  background-color: var(--dark-gray-blue);
  color: var(--white);
}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 32px;
  }
  header {
    width: 250px;
    height: 400px;
    padding: 8px 40px 16px 40px;
    border-radius: 32px 32px 32px 32px;
  }
  .cercle {
    width: 180px;
    height: 180px;
  }
  .cercle .the-big-num {
    font-size: 4rem;
  }
  header .great {
    margin-bottom: 16px;
  }
  main {
    width: 400px;
  }
  main .block {
    margin-bottom: 16px;
  }
  main button {
    margin-top: 8px;
    margin-bottom: 32px;
  }
  main button:hover {
    background: linear-gradient(
      to bottom,
      var(--bg-light-slate-blue),
      var(--bg-light-royal-blue)
    );
  }
}
